<!DOCTYPE html>
<html>
<head>
  <title>Notstagram</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>

<body>

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <%= link_to image_tag("logo.gif", style: "height: 40px; width: auto"), root_path, class: 'nav-item' %>
      <% if user_signed_in? %>
      <div class="d-flex ms-auto">
        <%= link_to "Post", upload_path, class: 'nav-link btn btn-outline-success' %>
      </div>
      <div class="d-flex me-2">
        <div class="nav-item dropdown">
          <div class="nav-link drop-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag(current_user.display_avatar(current_user), style: 'max-width:35px', class: 'img-fluid rounded-circle') %>
          </div>
          <ul class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
            <li><a class="dropdown-item"> <%= link_to "Profile", profile_path(current_user.username), class: 'nav-link' %> </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item"><%= link_to "Log Out", destroy_user_session_path, class: 'nav-link', method: :delete %></a></li>
          </ul>
        </div>
        <% else %>
        <div class="d-flex me-2">
          <%= link_to "Sign In", new_user_session_path, class: 'nav-item nav-link' %>
          <%= link_to "Sign Up", new_user_registration_path, class: 'nav-item btn btn-primary' %>
        </div>
        <% end %>
      </div>
    </div>
  </nav>

  <br>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
