<!DOCTYPE html>
<html>
<head>
  <title>Notstagram</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="navbar bg-dark navbar-dark">
    <div class="container">
      <%= link_to image_tag("logo.gif", style: "height: 50px; width: auto"), root_path, class: 'navbar-brand' %>
      <%= link_to "Create post", upload_path, class: 'btn btn-primary' %>
      <% if user_signed_in? %>
        <%= link_to image_tag(current_user.display_avatar(current_user), style: 'height: 50px; width: 50px', class: 'img-fluid rounded-circle'), profile_path(current_user.username), class: 'nav-link' %>
        <%= link_to "Log Out", destroy_user_session_path, class: 'nav-link', method: :delete %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: 'nav-link' %>
        <%= link_to "Create an Account", new_user_registration_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
