<!DOCTYPE html>
<html>
<head>
  <title>Notstagram</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>

<body>
  <div class="navbar bg-dark navbar-dark navbar-expand-lg mb-3">
    <div class="container">
      <%= link_to "Upload", upload_path, class: 'btn btn-primary' %>
      <%= link_to image_tag("logo.gif", style: "height: 40px; width: auto"), root_path, class: 'navbar-brand' %>
        <% if user_signed_in? %>
          <li class="nav-item dropstart">
            <a class="nav-link drop-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag(current_user.display_avatar(current_user), style: 'max-width:35px; margin-top: -22px;', class: 'img-fluid rounded-circle') %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item"> <%= link_to "Profile", profile_path(current_user.username), class: 'nav-link' %> </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item"><%= link_to "Log Out", destroy_user_session_path, class: 'nav-link', method: :delete %></a></li>
            </ul>
          </li>
        <% else %>
          <%= link_to "Sign In", new_user_session_path, class: 'nav-link' %>
          <%= link_to "Create an Account", new_user_registration_path, class: 'btn btn-primary' %>
        <% end %>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
